<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1> Grace Hopper</h1>

    <p>¡Una sobresaliente mujer multitalentos! Grace Hopper (1906-1992) fue científica informática y contraalmirante de la Marina de los EE.UU.

        Era fiel creyente de los lenguajes de programación independientes de la máquina. Tal filosofía la llevó a crear el primer compilador que transformaba términos en inglés en código de máquina comprendido por las computadoras. ¡Fue la primera mujer que se pudo comunicar con un ordenador!
        
        Pero su hazaña tecnológica no obtuvo una cabida positiva en aquellos tiempos. Grace Hopper declaró que ”Tenía un compilador en ejecución y nadie lo tocaría. Me dijeron que las computadoras solo podían hacer aritmética”. 
        
        Sin embargo, eso no la detuvo. Como mujer programadora, Grace Hopper se enfocó en la creación de COBOL en 1959, un lenguaje de programación parecido al inglés que aún se usa actualmente. 
        
        ¿El aprendizaje de todo esto? Haz oídos sordos a tus detractores y lucha por tus convicciones. Podrías estar a un paso del próximo descubrimiento que cambiará la industria de la tecnología. 
        
        Dato curioso:
        ¡Más talentos por descubrir! Durante gran parte de su carrera, Grace Hopper era muy solicitada como oradora en eventos relacionados con la informática. Destacaba por su estilo irreverente y animado de oratoria, al igual que por sus historias de guerra.</p>

        <img src="/img/grace-hopper-1536x977.jpg" alt="">
    
</body>
</html>