<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>¿Quiénes inventaron la programación?</h1>
    <p>
      Antes de contarte quién creo la programación debemos saber qué es la
      programación, tal vez muchos lo sepan, pero otros no, en resumen, la
      programación es darle a una computadora un conjunto de instrucciones y
      datos para que los procese y resuelva una tarea determinada. Ahora si,
      empecemos, y por ¿Dónde empezamos? por el principio, para hablar de
      programación debemos saber sobre la historia de las computadoras.
    </p>
    <h2>Historia de las computadoras</h2>
    <img src="/img/prog1.jpg" alt="" />

    <p>
      Todo empezó en 1801 cuando Joseph Marie Jacquard creo el primer telar
      programable (máquina para tejer con figuras o diseños) lo cual era algo
      revolucionario en su época, gracias es esta primer máquina, 30 años
      después Charles Babbage crea la máquina diferencial la cual resolvía
      ecuaciones diferenciales con datos a través de tarjetas perforadas (algo
      muy similar a lo que hacia el telar), en ese momento el gobierno británico
      financió el proyecto con 17.000 libras (lo que costaban 2 buques de
      guerra).
    </p>

    <img src="/img/prog2.jpg" alt="" />
    <p>
      Charles después de su primera creación (sin terminar), quería hacer una
      máquina de propósito general y no algo que resolviera cosas en específico
      (imagínate crear una máquina para cada cosa). Debido a que no había
      terminado su primer invento, el gobierno no quería financiar ese nuevo
      proyecto, sin embargo una persona si quería, Ada Lovelace, pero había un
      problema, Charles no quería trabajar con ella. Debido a la negativa, Ada
      tradujo un manual de la máquina de Charles, y a él le gustó tanto que le
      pidió agregar algunas notas que ella considerara.
    </p>

    <h2>El primer programa de la historia</h2>
    <p>
      Las notas que añadió Ada eran más extensas que el manual y de hecho eran
      más importantes que el mismo manual, porque dentro de esas notas estaba el
      primer programa de la historia (ya sabes quién inventó la programación).
      Dentro de las notas se incluyen los 4 conceptos fundamentales en el mundo
      de la informática:
    </p>
    <img src="/img/prog3.jpg" alt="" />

    <img src="/img/prog5.jpg" alt="" />

    <p>Máquina universal con múltiples propósitos solo reprogramandola</p>
    <ol>
      <li>
        La máquina debería poder procesar cualquier operación, no solo
        matemáticas (palabras, símbolos, notas musicales, etc)
      </li>
      <li>
        El primer programa de la historia: Algoritmo en donde definió: Rutinas,
        sub rutinas, condicionales y los bucles recursivos.
      </li>
      <li>
        Las maquinas no pueden pensar, solo podrán hacer lo que les programen
        (hoy en día las máquinas ya están aprendiendo con inteligencia
      </li>
      artificial).
    </ol>

    <h2>La primera computadora</h2>

    <img src="/img/primerpc.jpg" alt="" />

    <p>
      Tuvieron que pasar más de 100 años para que las ideas de Ada Lovelace se
      hicieran realidad, en 1937 Alan Turing escribe un artículo en el que
      define la maquina universal (máquina de Turing), similar a las notas de
      Ada Lovelace (aunque Turing creía que las computadoras sí podrían pensar),
      en el mismo año Claude Shannon en su tesis plantea que toda operación
      matemática podría representarse con lógica booleana y en la práctica con
      interruptores. Estos conceptos son los que dan paso a la primera
      computadora.
    </p>

    <img src="/img/prog6.jpg" alt="" />
    <p>
      En 1943, después de iniciada la segunda guerra mundial, los ingenieros
      John Mauchly y John Eckert recibieron financiamiento del ejército para el
      ENIAC que se terminó en 1945 y es la primera computadora de la historia
      (digital, electrónica y programable). Esta computadora pesaba 30 toneladas
      y tenia 30 metros de largo y para programar había que recablear.
    </p>
    <img src="/img/prog6" alt="" />

    <h2>Las primeras programadoras</h2>

    <img src="/img/prog7.jpg" alt="" />

    <p>
      Debido a que el proceso de programar esas gigantescas computadoras era
      algo tedioso, decían que era un trabajo secundario y se lo dieron a
      mujeres, en ese momento aparecen las primeras programadoras:
    </p>

    <ul>
      <li>Betty Snyder Holberton</li>
      <li>Jean Jennings Bartik</li>
      <li>Kathleen McNulty Mauchly Antonelli</li>
      <li>Marlyn Wescoff Meltzer</li>
      <li>Ruth Lichterman Teitelbaum</li>
      <li>Frances Bilas Spence</li>
    </ul>

    <p>
      Al inicio tuvieron que entender el diagrama de cableado y encontrar que
      válvula se había fundido por lo cual lograron dominar el funcionamiento
      mejor que nadie, con este conocimiento agregaron subrutinas y luego
      dividieron los programas en módulos.
    </p>
  </body>
</html>
